.App {
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form input{
  width:700px;
  height:80px;
  margin:5px;
  font-size: medium;


}
.form  ::placeholder{
  font-size:medium;
  padding-left: 10px;
}
.btn{
  padding: 8px;
  
  margin:15px;
  background-color: aquamarine;
  font-size: large;
  border-radius: 15%;
  
}
.btn:hover{
  background-color:cadetblue ;
  
}
.card{
  width:500px;
  height:150px;
  border:2px solid black;
  border-radius:15px;
  margin:30px;
  margin-left: 30rem;
  background-color: antiquewhite;
  
}
#updateinput{
  width:100px;
  height: 20px;
  margin-bottom: 10px;

}

#btndelete{
  
  padding: 2px;
  margin: 5px;
}